!!! html

html(ng-app="app", lang="en")
  head
    meta(charset="utf-8")
    title Pet-shop
    != css("app")
    body
      div(ng-view)

  != js("lib/angular.min")
  != js("lib/angular-resource.min")
  != js("app")
  != js("services")
  != js("controllers")
  != js("filters")
  != js("directives")